body{
    padding: 0px;
    margin: 0px;
    background-color:black;
   
}
.header{
    background-color:  darkblue;
    color:white;
    display:flex;
    justify-content:space-between;
    width:100%;
    overflow:visible;
    position: fixed;
    text-align:center;
    padding: 2% 5%;
    margin: 20px 5px 5px 5px;
}

.header #navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
.header #navbar li {
        float: left;
      }
      
.header #navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
.header #navbar li a:hover {
        background-color: #111;
 }



.header img  {
    position:absolute;
    top:-2%;
    height: 200px;
    width: 190px;
    border-radius: 50%;
    background-color: aliceblue;
}

.header .name{
  margin:auto;
  padding-right: 100px;
}
.container{
    display:flex;
    grid-template-columns:1fr 3fr;
    margin-top:30px;
}

.left-container{
    flex:1;
    background-color:black;
    color:white;
    padding:10px 30px;
}

.left-container h3{
    padding-left:23px;
}
.right-container{
    flex:2;
    background-color:white ;
    width: 100%;
    padding:10px;
}

table,td,th{
    border: solid 1px;
    border-collapse:collapse;
    text-align: center;
    padding:15px;
    
}