body{
    font-family: Helvetica, Arial, sans-serif;
}
.container{
    margin-left:100px;
    margin-right:100px;
    margin-top: 20px;
}


.image-container img{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-caption1 {
   
    
    font-weight: bold;
    margin: 0px;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    
}
.image-caption2 {
    font-size: 17px;
    margin-bottom: 25px;
    line-height: 2;
    letter-spacing: 1.5px;
    word-spacing: 1px;
}


.image-text {
   position: absolute;
   
   left: 12%;
   bottom:20%;
   
    
}
.button{
    background-color: #17C1A3;
    color: white;
    height: 59px;
    width:238px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.button:hover{
  
    cursor: pointer;
    border: solid #e9f7f481 2px;
    transition:0.2rgb(123, 141, 138)
}

.book-appointment-section{
    position: relative;
    background-color: white;
    left: 40px;
    bottom: 70px;
    margin-left:12px;
    padding: 20px ;
    width: 1000px ;
    border-radius: 20px;
    box-shadow:0px 4px 15px 2px rgba(0, 0, 0, 0.07);
}

.book-appointment 
{
    padding: 10px ;
    margin: 0px;
    margin-left: 5px;
}

.book-appointment input{
    width: 32%;
    box-sizing: border-box;
    padding: 15px;
    margin: 5px;
}

.book-appointment select{
    width: 32%;
    box-sizing: border-box;
    padding: 15px;
    margin: 5px;
}

.book-button{
    
    background-color: #17C1A3;
    color: white;
    height: 50px;
    width:32%;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 5px;
}

.appointment-title{
    font-size:20px;
    font-weight: bold;
    word-spacing: 2px;
    margin: 3px 15px 0px;
    
    
}


.departments-title-section{
    display: flex;
}

.departments-title{
    flex:1;
}

.departments-title p{
    font-size: 25px;
    font-weight: bold;
    line-height: 1.;
}
.departments-arrow{
    flex: flex-end ;
    padding-top: 70px;
    
}

.departments-card-container{
    display: flex;
    overflow: hidden;
   
}

.departments-card{
    flex:1;
    margin-right: 30px;
}


.departments-card img{
   width: 100%;
}

.departments_card_title{
    font-size: 18px;
    font-weight: bold;
}

.departments_card_title p{
    font-size: 15px;
    font-family: sans-serif;
}

.departments-card a{
    color: #17C1A3 ;
}

.why-gg{
    display:flex;
    background-color: #E8F9F6;
    margin-top: 60px;
    height: 450px;
}

.why-gg-image_container{
    flex:2;
    position:relative;
    display:inline;
    overflow:hidden;

}


.image2{
    position:absolute;
    bottom:5;
    left:0;
    width: 100%;
}

.why-gg-image_container img{
   
    width: 100%;
    margin: 0;
    
}

.design-image{
    opacity:50%;
}

.why-gg-content{
    flex:1;
    padding:60px 50px 0px 0px;
}

.why-gg-title{
    font-size:25px;
    font-weight: bold;
}

.why-gg-content li{
    list-style-image: url("list.png") ;
    padding: 4px;
}
